Testing/Service References/ServiceReference1/VL.Common.Protocol.IResult.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VL.Common.Protocol.IResult" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VL.Common.Protocol.IResult" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/VL.Transaction.Service.IResult" />
  <xs:complexType name="ResultOfESubResultCodevUR9ma_SR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VL.Common.Protocol.IResult" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ESubResultCode" Namespace="http://schemas.datacontract.org/2004/07/VL.Transaction.Service.IResult" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultCode" type="tns:EResultCode" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VL.Transaction.Service.IResult" minOccurs="0" name="SubResultCode" type="q1:ESubResultCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultOfESubResultCodevUR9ma_SR" nillable="true" type="tns:ResultOfESubResultCodevUR9ma_SR" />
  <xs:simpleType name="EResultCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Failure" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EResultCode" nillable="true" type="tns:EResultCode" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultCode" type="tns:EResultCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>