TestingPublish/Service References/UserServiceReference/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dcwl027:8001/VL.User.Service.UserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dcwl027:8001/VL.User.Service.UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dcwl027:8001/VL.User.Service.UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VL.Common.Protocol.IService" />
      <xsd:import schemaLocation="http://dcwl027:8001/VL.User.Service.UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VL.User.Service" />
      <xsd:import schemaLocation="http://dcwl027:8001/VL.User.Service.UserService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/VL.User.Objects.Entities" />
      <xsd:import schemaLocation="http://dcwl027:8001/VL.User.Service.UserService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/VL.Common.ORM.Objects" />
      <xsd:import schemaLocation="http://dcwl027:8001/VL.User.Service.UserService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/VL.User.Objects.SubResults" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_CheckAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAlive" />
  </wsdl:message>
  <wsdl:message name="IUserService_CheckAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_CheckNodeReferences_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckNodeReferences" />
  </wsdl:message>
  <wsdl:message name="IUserService_CheckNodeReferences_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckNodeReferencesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IUserService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetA_InputMessage">
    <wsdl:part name="parameters" element="tns:GetA" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetA_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IUserService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="CheckAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceNode/CheckAlive" message="tns:IUserService_CheckAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceNode/CheckAliveResponse" message="tns:IUserService_CheckAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckNodeReferences">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceNode/CheckNodeReferences" message="tns:IUserService_CheckNodeReferences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceNode/CheckNodeReferencesResponse" message="tns:IUserService_CheckNodeReferences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Test" message="tns:IUserService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/TestResponse" message="tns:IUserService_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetA">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetA" message="tns:IUserService_GetA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAResponse" message="tns:IUserService_GetA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Register" message="tns:IUserService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/RegisterResponse" message="tns:IUserService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AuthenticateUser" message="tns:IUserService_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AuthenticateUserResponse" message="tns:IUserService_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllUsers" message="tns:IUserService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllUsersResponse" message="tns:IUserService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAlive">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceNode/CheckAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckNodeReferences">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceNode/CheckNodeReferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IUserService/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetA">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IUserService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://dcwl027:8001/VL.User.Service.UserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>