TestingPublish/Service References/UserServiceReference/VL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VL.Common.Protocol.IService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VL.Common.Protocol.IService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dcwl027:8001/VL.User.Service.UserService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/VL.User.Objects.SubResults" />
  <xs:import schemaLocation="http://dcwl027:8001/VL.User.Service.UserService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/VL.User.Objects.Entities" />
  <xs:complexType name="DependencyResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DependencyDetails" nillable="true" type="tns:ArrayOfDependencyDetail" />
      <xs:element minOccurs="0" name="DependencyResults" nillable="true" type="tns:ArrayOfDependencyResult" />
      <xs:element minOccurs="0" name="IsAllDependenciesAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DependencyResult" nillable="true" type="tns:DependencyResult" />
  <xs:complexType name="ArrayOfDependencyDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DependencyDetail" nillable="true" type="tns:DependencyDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDependencyDetail" nillable="true" type="tns:ArrayOfDependencyDetail" />
  <xs:complexType name="DependencyDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="DependencyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DependencyType" type="tns:DependencyType" />
      <xs:element minOccurs="0" name="IsDependencyAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DependencyDetail" nillable="true" type="tns:DependencyDetail" />
  <xs:simpleType name="DependencyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Config" />
      <xs:enumeration value="Database" />
      <xs:enumeration value="Service" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DependencyType" nillable="true" type="tns:DependencyType" />
  <xs:complexType name="ArrayOfDependencyResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DependencyResult" nillable="true" type="tns:DependencyResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDependencyResult" nillable="true" type="tns:ArrayOfDependencyResult" />
  <xs:complexType name="ResultOfCreateUserResult9I7TJpd5">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VL.Common.Protocol.IService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CreateUserResult" Namespace="http://schemas.datacontract.org/2004/07/VL.User.Objects.SubResults" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VL.User.Objects.SubResults" minOccurs="0" name="Data" type="q1:CreateUserResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultOfCreateUserResult9I7TJpd5" nillable="true" type="tns:ResultOfCreateUserResult9I7TJpd5" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultCode" type="tns:EResultCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:simpleType name="EResultCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Failure" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EResultCode" nillable="true" type="tns:EResultCode" />
  <xs:complexType name="ResultOfAuthenticateResult9I7TJpd5">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VL.Common.Protocol.IService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AuthenticateResult" Namespace="http://schemas.datacontract.org/2004/07/VL.User.Objects.SubResults" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VL.User.Objects.SubResults" minOccurs="0" name="Data" type="q2:AuthenticateResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultOfAuthenticateResult9I7TJpd5" nillable="true" type="tns:ResultOfAuthenticateResult9I7TJpd5" />
  <xs:complexType name="ResultOfArrayOfTUserOnBUIjEi">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/VL.Common.Protocol.IService" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfTUser" Namespace="http://schemas.datacontract.org/2004/07/VL.User.Objects.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VL.User.Objects.Entities" minOccurs="0" name="Data" nillable="true" type="q3:ArrayOfTUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultOfArrayOfTUserOnBUIjEi" nillable="true" type="tns:ResultOfArrayOfTUserOnBUIjEi" />
</xs:schema>