TestingPublish/Service References/UserServiceReference/VL3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/VL.User.Objects.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VL.User.Objects.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dcwl027:8001/VL.User.Service.UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://dcwl027:8001/VL.User.Service.UserService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/VL.Common.ORM.Objects" />
  <xs:complexType name="TUser">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/VL.Common.ORM.Objects" base="q1:IPDMTBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdCardNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mobile" type="xs:short" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="ser:guid" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TUser" nillable="true" type="tns:TUser" />
  <xs:complexType name="ArrayOfTUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TUser" nillable="true" type="tns:TUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTUser" nillable="true" type="tns:ArrayOfTUser" />
</xs:schema>