TestingPublish/Service References/UserServiceReference/VL4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VL.User.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VL.User.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="A">
    <xs:sequence>
      <xs:element minOccurs="0" name="As" nillable="true" type="tns:ArrayOfA" />
      <xs:element minOccurs="0" name="Bs" nillable="true" type="tns:ArrayOfB" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="A" nillable="true" type="tns:A" />
  <xs:complexType name="ArrayOfA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="A" nillable="true" type="tns:A" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfA" nillable="true" type="tns:ArrayOfA" />
  <xs:complexType name="ArrayOfB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="B" nillable="true" type="tns:B" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfB" nillable="true" type="tns:ArrayOfB" />
  <xs:complexType name="B">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="B" nillable="true" type="tns:B" />
</xs:schema>