TestingPublish/Service References/UserServiceReference/VL5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dcwl027:8001/VL.User.Service.UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VL.User.Objects.Entities" />
  <xs:import schemaLocation="http://dcwl027:8001/VL.User.Service.UserService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/VL.Common.Protocol.IResult" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VL.User.Objects.Entities" minOccurs="0" name="user" nillable="true" type="q1:TUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VL.Common.Protocol.IResult" minOccurs="0" name="RegisterResult" nillable="true" type="q2:ResultOfCreateUserResult9I7TJpd5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimulateRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VL.User.Objects.Entities" minOccurs="0" name="user" nillable="true" type="q3:TUser" />
        <xs:element minOccurs="0" name="simulateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimulateRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VL.Common.Protocol.IResult" minOccurs="0" name="SimulateRegisterResult" nillable="true" type="q4:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>